* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  font-family: "Heebo", sans-serif;
}

.landing {
  min-height: 100vh;
  background: url("./hero-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0rem 5rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 10vh;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav-links li {
  padding-left: 10rem;
  font-size: 1.2rem;
  color: #F5E1C4;
}
a{
    text-decoration: none;
    color: #F5E1C4;
    transition:smooth;

}
a:hover{
    color: rgb(151, 201, 245);
    transition:smooth;
    transform: scaleY(3);
}

#logo {
  font-family: "Lobster", cursive;
  font-weight: lighter;
  font-size: 3rem;
  color: #F5E1C4;
  padding:3px;
}

.big-text {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  font-size: 5rem;
  font-family: "Lobster", cursive;
  color: #3d3d3d;
  color: #c5dbee;
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider {
  background: #393d3f;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.intro-text {
  font-family: "lobster", cursive;
  font-size: 3rem;
  color: #89a6db;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
}

@media (max-width: 720px) {
  .nav-links li {
    font-size: 1rem;
    padding-left: 2rem;
  }
  .big-text {
    position: absolute;
    top: 30%;
    left: 53%;
    text-align: center;
    -webkit-transform: translate(-53%, -30%);
            transform: translate(-53%, -30%);
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 10vh;
  }
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding-left: 1.5rem;
  }
  #logo {
    font-family: "Lobster", cursive;
    font-weight: lighter;
    font-size: 2rem;
    margin-left: -5px;
  }
  .intro-text {
    color: #89a6db;
    font-family: "Heebo", sans-serif;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
    padding: 2px;
  }
}
/*# sourceMappingURL=stylesheet.css.map */